*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Montserrat, sans-serif;
    font-size: 50%;
}

/*Encabezado*/
#header{
    display: flex; /*ok*/
    position: fixed; /*ok*/
    width: 100vw;
    min-width: 80vw;
    height: 18%;
    min-height: 110px;
    border: 1px solid black;
    align-items: center;
    top: 0;
    font-size: 1.5rem;
    background: linear-gradient(#AEC8FF, #E7EFFE, #C669E6);
}

.logo{
    display: flex;
    align-items: center;
    width: 60vw;
    height: 100%;
}
img{
    position: absolute;
    margin-left: 20px;
    width: 20%;
    height: 80%;
    object-fit: cover;
}
.logo p{
    position: relative;
    left: 40%;
}

#nav-bar{
    display: flex;
    height: 90%;
    padding: 20px;
    width: 40vw;
    justify-content: flex-end;
    font-weight: bold;
}
#nav-bar ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}
.nav-link{
    padding: 0 0.5em;
    text-decoration: none;
}

.doc{
    width: 100%;
    height: 82%;
    position: relative;
    margin-top: 22vh;
    z-index: -1;
}

@media (max-width: 900px){
    #header{
        font-size: 1.1rem;
    }
}
@media (max-width: 600px){
    #header{
        flex-wrap: wrap;
        height: 25%;
        justify-content: center;
    }
    .logo{
        border: 1px solid red;
        height: 40%;
    }
    #nav-bar{
        border: 1px solid green;
        justify-content: center;
        padding-top: 0.2em;
        height: 60%;
    }
    #nav-bar ul{
        flex-direction: column;
    }
    .doc{
        padding-top: 40vh;
    }
}   